@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

@mixin styling() {
  background-color: white;
  border-color: #ccc;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

// DROPDOWNS CONTAINER //
.dropDownsContainer {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-evenly;
  // max-width: 1140px;
  max-width: 100%;
  width: 100%;
  // height: 100vh;
  margin: auto;
  // padding: 5% 5%;
  // background-color: #b9d7eaf2;
  background-color: #b9d7ea;
}

// WRAPPER //
.dd-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

// HEADER //
.dd-header {
  @include styling();
  display: flex;
  justify-content: space-between;
  // align-items: center;
  cursor: pointer;
  width: 75%;
  padding: 0 20px;

  &__title--bold {
    font-weight: bold;
  }
}

// LIST //
.dd-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  // height: 10%;
  width: 35%;
  margin-top: 10px;

  li {
    list-style-type: none;

    &:first-of-type {
      > button {
        border-top: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &:last-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    button {
      display: flex;
      justify-content: space-between;
      background-color: white;
      font-size: 16px;
      padding: 10px 20px 10px 20px;
      border: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-align: left;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;

      &:hover,
      &:checked {
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
      }
    }
  }
}

// SUBMIT SEARCH BUTTON //
.submitSearch {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // margin: auto;
}
.submitSearchButton {
  @include styling();
  font-family: 'Libre Franklin', sans-serif;
  background-color: rgb(238, 236, 236);
  border-radius: 25px;
  border-width: 2px;
  border-style: bold solid;
  border-color: rgb(0, 0, 0) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  font-size: 1rem;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  min-width: 15rem;
  // padding: 15px 30px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 10rem;

  &:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(61, 61, 61);
    border-color: rgb(55, 212, 252) !important;
    border-width: 6px !important;
    color: rgb(55, 212, 252);
    transition-duration: 0.3s;
    transform: scale(1.1);
  }

  &:active {
    transition-duration: 0.3s;
    transform: scale(0.9);
  }
}

// GAME NAME SEARCH BAR //
.textSearch {
  // @include styling();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

// GAME NAME TEXT SEARCH BOX //
#textSearchBox {
  display: flex;
  // @include styling();
  font-size: 1.2rem;
  height: 40px;
  width: 50%;
  // margin-bottom: 3%;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

// MAKE SELECTIONS BELOW H3 //
.makeSelections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
