@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

@mixin styling() {
  background-color: white;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

// DROPDOWNS CONTAINER //
.dropDownsContainer {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 20px 20px;
}

// WRAPPER //
.dd-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  padding: 10px 10px;
}

// HEADER //
.dd-header {
  @include styling();
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;

  &__title--bold {
    font-weight: bold;
  }
}

// LIST //
.dd-list {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding: 0;
  margin: 0;
  // height: 10%;
  width: 30%;
  margin-top: 10px;

  li {
    list-style-type: none;

    &:first-of-type {
      > button {
        border-top: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &:last-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    button {
      display: flex;
      justify-content: space-between;
      background-color: white;
      font-size: 16px;
      padding: 10px 20px 10px 20px;
      border: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-align: left;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;

      &:hover,
      &:focus {
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
      }
    }
  }
}

// SUBMIT SEARCH BUTTON //
.submitSearchButton {
  @include styling();
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  padding: 15px 30px;
  margin: auto;
  margin-top: 15px;

  &:hover,
  &:focus {
    cursor: pointer;
    font-weight: bold;
    background-color: #ccc;
  }
}
